[Unit]
Description=Dagster Webserver - Web UI
After=dagster-postgres.service dagster-network-network.service
Wants=network-online.target
Requires=dagster-postgres.service dagster-network-network.service

[Container]
Image=docker.io/dagster/dagster-celery-k8s:latest
ContainerName=dagster-webserver
HostName=dagster-webserver
Network=dagster-network.network
PublishPort=3002:3000
Volume=/var/lib/dagster/dagster_home:/opt/dagster/dagster_home
Volume=/var/lib/dagster/code:/opt/dagster/code:ro
Exec=dagster-webserver -h 0.0.0.0 -p 3000 -w /opt/dagster/dagster_home/workspace.yaml
Environment=DAGSTER_POSTGRES_USER=dagster
Environment=DAGSTER_POSTGRES_PASSWORD=dagster
Environment=DAGSTER_POSTGRES_DB=dagster
Environment=DAGSTER_POSTGRES_HOSTNAME=dagster-postgres
Environment=DAGSTER_POSTGRES_PORT=5432
Environment=DAGSTER_HOME=/opt/dagster/dagster_home
EnvironmentFile=-/var/lib/dagster/.config/environment.d/dagster-s3.conf

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target
