[Unit]
Description=Dagster Network for inter-service communication
Documentation=https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html

[Network]
NetworkName=dagster
Driver=bridge
Internal=false

[Install]
WantedBy=default.target
