[Unit]
Description=DNSmasq Nameserver for liminati.internal
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/jpillora/dnsmasq:latest
ContainerName=dnsmasq
PublishPort=5380:8080
Volume=/var/lib/llm-services/dnsmasq/dnsmasq.conf:/etc/dnsmasq.conf:ro
Environment=HTTP_USER=admin
Environment=HTTP_PASS=admin
Network=host

[Service]
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=default.target
