[Unit]
Description=Opik MySQL Database
After=network-online.target opik-network.service
Wants=network-online.target

[Container]
Image=docker.io/library/mysql:8.4.2
ContainerName=mysql
HostName=mysql
Network=opik-network.network
Volume=/var/lib/opik/mysql:/var/lib/mysql:Z
Environment=MYSQL_ROOT_PASSWORD=opik
Environment=MYSQL_DATABASE=opik
Environment=MYSQL_USER=opik
Environment=MYSQL_PASSWORD=opik

[Service]
Restart=always
TimeoutStartSec=600

[Install]
WantedBy=default.target
