[Unit]
Description=Opik Redis Cache
After=network-online.target opik-network.service
Wants=network-online.target

[Container]
Image=docker.io/library/redis:7.2.4-alpine3.19
ContainerName=redis
HostName=redis
Network=opik-network.network
Exec=redis-server --requirepass opik

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
