[Unit]
Description=Opik ClickHouse Database
After=network-online.target opik-zookeeper.service opik-network.service
Wants=network-online.target

[Container]
Image=docker.io/clickhouse/clickhouse-server:24.3.6.48-alpine
ContainerName=clickhouse
HostName=clickhouse
Network=opik-network.network
Volume=/var/lib/opik/clickhouse/data:/var/lib/clickhouse:Z
Volume=/var/lib/opik/clickhouse/logs:/var/log/clickhouse-server:Z
Volume=/var/lib/opik/clickhouse/config:/etc/clickhouse-server/config.d:Z
Environment=CLICKHOUSE_DB=opik
Environment=CLICKHOUSE_USER=opik
Environment=CLICKHOUSE_PASSWORD=opik
Environment=CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
PodmanArgs=--ulimit nofile=262144:262144

[Service]
Restart=always
TimeoutStartSec=600

[Install]
WantedBy=default.target
