[Unit]
Description=Opik Frontend Web UI
After=opik-backend.service
Wants=network-online.target

[Container]
Image=ghcr.io/comet-ml/opik/opik-frontend:latest
ContainerName=opik-frontend
Pod=opik.pod
Volume=/var/lib/opik/config/nginx.conf:/etc/nginx/nginx.conf
Volume=/var/lib/opik/config/fluent-bit.conf:/etc/fluent-bit/fluent-bit.conf:ro
Environment=OPIK_VERSION=latest
Environment=ENABLE_OTEL_LOG_EXPORT=false
Environment=OTEL_COLLECTOR_HOST=otel-collector
Environment=OTEL_COLLECTOR_PORT=4317
PodmanArgs=--entrypoint nginx
Exec=-g "daemon off;"

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
