[Unit]
Description=Opik Zookeeper for ClickHouse
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/library/zookeeper:3.9
ContainerName=zookeeper
Pod=opik.pod
Volume=/var/lib/opik/zookeeper:/data:Z
Volume=/var/lib/opik/zookeeper/datalog:/datalog:Z
Environment=ZOO_MY_ID=1

[Service]
Restart=always
TimeoutStartSec=600

[Install]
WantedBy=default.target
