[Unit]
Description=Opik Python Backend (Evaluators)
After=network-online.target
Wants=network-online.target
PartOf=opik.service

[Container]
Image=ghcr.io/comet-ml/opik/opik-python-backend:latest
ContainerName=opik-python-backend
Pod=opik.pod
Environment=OPIK_VERSION=latest
Environment=PYTHON_CODE_EXECUTOR_IMAGE_TAG=latest
Environment=PYTHON_CODE_EXECUTOR_STRATEGY=process
Environment=PYTHON_CODE_EXECUTOR_CONTAINERS_NUM=5
Environment=PYTHON_CODE_EXECUTOR_EXEC_TIMEOUT_IN_SECS=3
Environment=PYTHON_CODE_EXECUTOR_ALLOW_NETWORK=false
Environment=OPIK_REVERSE_PROXY_URL=http://localhost:5173/api
HealthCmd=sh -c "if [ -f /opt/opik-python-backend/src/opik_backend/healthcheck.py ]; then wget --spider --quiet http://127.0.0.1:8000/healthcheck; else exit 0; fi"
HealthInterval=2s
HealthTimeout=60s
HealthRetries=30
HealthStartPeriod=2s

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
