[Unit]
Description=Opik Frontend Web UI
After=opik-backend.service
Wants=network-online.target

[Container]
Image=ghcr.io/comet-ml/opik/opik-frontend:latest
ContainerName=opik-frontend
Pod=opik.pod
Volume=/var/lib/opik/config/nginx_default_local.conf:/etc/nginx/conf.d/default.conf
Volume=/var/lib/opik/config/fluent-bit.conf:/etc/fluent-bit/fluent-bit.conf:ro
Volume=/var/lib/opik/frontend-tmp:/var/lib/nginx/tmp
Environment=OPIK_VERSION=latest
Environment=ENABLE_OTEL_LOG_EXPORT=false
Environment=OTEL_COLLECTOR_HOST=otel-collector
Environment=OTEL_COLLECTOR_PORT=4317
Exec=/bin/sh /opt/frontend/entrypoint.sh

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
