[Unit]
Description=Opik Backend API Server
After=opik-mysql.service opik-clickhouse.service opik-minio.service opik-redis.service opik-network.service
Wants=network-online.target

[Container]
Image=ghcr.io/comet-ml/opik/opik-backend:latest
ContainerName=backend
HostName=backend
Network=opik-network.network
Exec=bash -c "./run_db_migrations.sh && ./entrypoint.sh"
Environment=DOCKER_BUILDKIT=1
Environment=STATE_DB_PROTOCOL=jdbc:mysql://
Environment=STATE_DB_URL=mysql:3306/opik?createDatabaseIfNotExist=true&rewriteBatchedStatements=true
Environment=STATE_DB_DATABASE_NAME=opik
Environment=STATE_DB_USER=opik
Environment=STATE_DB_PASS=opik
Environment=ANALYTICS_DB_MIGRATIONS_URL=jdbc:clickhouse://clickhouse:8123
Environment=ANALYTICS_DB_MIGRATIONS_USER=opik
Environment=ANALYTICS_DB_MIGRATIONS_PASS=opik
Environment=ANALYTICS_DB_PROTOCOL=HTTP
Environment=ANALYTICS_DB_HOST=clickhouse
Environment=ANALYTICS_DB_PORT=8123
Environment=ANALYTICS_DB_DATABASE_NAME=opik
Environment=ANALYTICS_DB_USERNAME=opik
Environment=ANALYTICS_DB_PASS=opik
Environment=JAVA_OPTS=-Dliquibase.propertySubstitutionEnabled=true -XX:+UseG1GC -XX:MaxRAMPercentage=80.0
Environment=REDIS_URL=redis://:opik@redis:6379/
Environment=OPIK_OTEL_SDK_ENABLED=false
Environment=OTEL_VERSION=2.16.0
Environment=OTEL_PROPAGATORS=tracecontext,baggage,b3
Environment=OTEL_EXPERIMENTAL_EXPORTER_OTLP_RETRY_ENABLED=true
Environment=OTEL_EXPORTER_OTLP_METRICS_DEFAULT_HISTOGRAM_AGGREGATION=BASE2_EXPONENTIAL_BUCKET_HISTOGRAM
Environment=OTEL_EXPERIMENTAL_RESOURCE_DISABLED_KEYS=process.command_args
Environment=OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY_PREFERENCE=delta
Environment=OPIK_USAGE_REPORT_ENABLED=true
Environment=AWS_ACCESS_KEY_ID=THAAIOSFODNN7EXAMPLE
Environment=AWS_SECRET_ACCESS_KEY=LESlrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
Environment=IS_MINIO=true
Environment=S3_URL=http://minio:9000
Environment=PYTHON_EVALUATOR_URL=http://python-backend:8000
Environment=TOGGLE_GUARDRAILS_ENABLED=false
Environment=TOGGLE_WELCOME_WIZARD_ENABLED=true
Environment=CORS=false

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
