[Unit]
Description=Opik Redis Cache
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/library/redis:7.2.4-alpine3.19
ContainerName=opik-redis
Pod=opik.pod
Exec=redis-server --requirepass opik

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
