[Unit]
Description=Opik Zookeeper for ClickHouse
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/bitnami/zookeeper:3.9.3-debian-12-r16
ContainerName=opik-zookeeper
Pod=opik
Volume=/var/lib/opik/zookeeper:/bitnami/zookeeper:Z
Environment=ZOO_MY_ID=1
Environment=ZOO_SERVERS=opik-zookeeper=opik-zookeeper:2888:3888
Environment=ALLOW_ANONYMOUS_LOGIN=yes
HealthCmd=/bin/bash -ec "ZOO_HC_TIMEOUT=2" "/opt/bitnami/scripts/zookeeper/healthcheck.sh"
HealthInterval=1s
HealthTimeout=1s
HealthRetries=300

[Service]
Restart=always
TimeoutStartSec=600

[Install]
WantedBy=default.target
