[Unit]
Description=Prometheus Monitoring
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/prom/prometheus:latest
ContainerName=prometheus
Volume=%h/model-serving/config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
Volume=%h/model-serving/config/prometheus/data:/prometheus
# Use host network to access vllm metrics on localhost:8000
Network=host
# Change port to 9091 to avoid conflict with existing service on 9090
Exec=--config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/prometheus --web.listen-address=:9091

[Service]
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=default.target
